/***************************************************************************/
/* Nascom Newsletter */
/* style.css / $Date: 2024-03-29 20:00:48 +0100 (Fr, 29. Mrz 2024) $ */
/***************************************************************************/

.mag-nascom-newsletter .noindent p,
.mag-nascom-newsletter p.noindent,
.mag-nascom-newsletter p.continued
{
	text-indent: 0;
}
.mag-nascom-newsletter p.indent,
.mag-nascom-newsletter h3.indent,
.mag-nascom-newsletter h4.indent,
.mag-nascom-newsletter table.indent,
.mag-nascom-newsletter pre.indent,
.mag-nascom-newsletter div.indent,
.mag-nascom-newsletter ol.indent,
.mag-nascom-newsletter ul.indent,
.mag-nascom-newsletter dl.indent
{
	text-indent: 0;
	margin-left: 3rem;
}
.mag-nascom-newsletter p.indent2,
.mag-nascom-newsletter h2.indent2,
.mag-nascom-newsletter h3.indent2,
.mag-nascom-newsletter h4.indent2,
.mag-nascom-newsletter ol.indent2,
.mag-nascom-newsletter pre.indent2,
.mag-nascom-newsletter table.indent2,
.mag-nascom-newsletter dl.indent2
{
	text-indent: 0;
	margin-left: 6rem;
}
.mag-nascom-newsletter p.indent3
{
	text-indent: 0;
	margin-left: 9em;
}

.mag-nascom-newsletter p.exdent
{
	margin-left: 3em;
	text-indent: -3em;
}

.mag-nascom-newsletter p.exdent2
{
	margin-left: 6em;
	text-indent: -6em;
}

.mag-nascom-newsletter p.center,
.mag-nascom-newsletter pre.center,
.mag-nascom-newsletter h1.center,
.mag-nascom-newsletter h2.center,
.mag-nascom-newsletter h3.center,
.mag-nascom-newsletter h4.center,
.mag-nascom-newsletter td.center
{
	text-indent: 0;
	margin-left: 0;
	text-align: center;
}
.mag-nascom-newsletter table.center
{
	margin-left: auto;
	margin-right: auto;
}

.mag-nascom-newsletter dl dd
{
	margin-left: 3em;
}

.mag-nascom-newsletter dl.wide dd
{
	margin-left: 6em;
}

/***************************************************************************/

.mag-nascom-newsletter h1
{
	text-align: center;
	font-size: 1.2em;
}
.mag-nascom-newsletter h2
{
	text-align: center;
	font-size: 1.1em;
}
.mag-nascom-newsletter h3,
.mag-nascom-newsletter table.contentHeading td
{
	font-size: 1.0em;
}
.mag-nascom-newsletter h3.author
{
	text-align: center;
}

.mag-nascom-newsletter p
{
	text-indent: 3em;
	text-align: justify;
}
.mag-nascom-newsletter p.continued

{
	text-indent: 0;
}
.mag-nascom-newsletter table.content,
.mag-nascom-newsletter table.contentHeading
{
	width: 100%;
}
.mag-nascom-newsletter table.content th,
.mag-nascom-newsletter table.content td
{
	padding: 0.4em 0;
}
.mag-nascom-newsletter table.content td:last-child
{
	white-space: nowrap;
}

.mag-nascom-newsletter table.contentHeading th,
.mag-nascom-newsletter table.contentHeading td
{
	padding: 0;
	font-weight: bold;
}
.mag-nascom-newsletter table.contentHeading > tbody > tr > td:nth-child(2)
{
	text-align: center;
}
.mag-nascom-newsletter table.contentHeading > tbody > tr > td:last-child
{
	text-align: right;
}

.mag-nascom-newsletter table.lastcolright > tbody > tr > td:last-child
{
	text-align: right;
}

